.TicketSubject {
    display: flex;
}
.TicketId {
    color: #59636e;
}

.ThreadMeta { display: none; }

.Thread__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    margin: 0 0 30px;
}

.Thread__subject {
    margin: 0;
    padding: 12px 0;
}

.TicketProperties {
    border-color: #e5ebee;
}

.Thread__timeline .box {
    border-color: #e5ebee;
}

.u-text-center {
    text-align: left;
}

.TicketId__actions {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

#sub-header h2.u-ellipsis,
#sub-header .buttons {
    display: none;
}

#sub-header {
    min-height: auto;
}